# ----------------------------------------------------------------------
# Copyright (c) 2025 Rafael Gonzalez.
#
# See the LICENSE file for details
# ----------------------------------------------------------------------

#------------------------------------------------------------------------#
[http]

# HTTP management interface section

# Connection is made by env variables ADMIN_HTTP_LISTEN_ADDR, ADMIN_HTTP_PORT

# http task log level (debug, info, warn, error, critical)
log_level = "info"

#------------------------------------------------------------------------#
[mqtt]

# MQTT Client config

# The broker host, username, password and client_id
# are configured by environment variables
# MQTT_BROKER, MQTT_USERNAME, MQTT_PASSWORD, MQTT_CLIENT_ID
# respectively

# MQTT keepalive connection (in seconds)
# Not reloadable property
keepalive = 60

# inactivity timeout (in seconds)
# Program dies after this timeouthas expired and
# no reading has been publihed to the MQTT broker
# Not reloadable property
timeout = 1800

# namespace log level (debug, info, warn, error, critical)
# Reloadable property
log_level = "info"

# MQTT PDUs log level. 
# See all PDU exchanges with 'debug' level. Otherwise, leave it to 'info'
# Reloadable property
protocol_log_level = "info"

#------------------------------------------------------------------------#

[tess]

# namespace log level (debug, info, warn, error, critical)
# Reloadable property
log_level = "info"

# Serial to MQTT queue size
qsize = 1000

# Photometers config data
# Non reloadable data
[tess.stars111]
endpoint = "serial:/dev/ttyACM0:9600"
period = 60 # MQTT TX period in seconds. Recommended value: 60
log_level = "info"
model = "TESS-W"
mac_address = "AA:BB:CC:DD:EE:FF"
zp1 = 20.5
offset1 = 0 # Frequency offset (dark current frequency)
filter1 = "UVIR750"


[tess.stars478]
endpoint = "tcp:192.168.4.1:23"
period = 60 # MQTT TX period in seconds. Recommended value: 60
log_level = "debug"
model = "TESS4C"
mac_address = "FF:AA:BB:CC:DD:EE"
zp1 = 20.5
offset1 = 0 # Frequency offset (dark current frequency)
filter1 = "UVIR750"
zp2 = 20.5
offset2 = 0 # Frequency offset (dark current frequency)
filter2 = "UVIR650"
zp3 = 20.5
offset3 = 0 # Frequency offset (dark current frequency)
filter3 = "RGB-R"
zp4 = 20.5
offset4 = 0 # Frequency offset (dark current frequency)
filter4 = "RGB-B"
firmware = "Mar  4 2024"
