# ----------------------------------------------------------------------
# Copyright (c) 2014 Rafael Gonzalez.
#
# See the LICENSE file for details
# ----------------------------------------------------------------------

#------------------------------------------------------------------------#
[http]

# HTTP management interface section

# Connection is made by env variables ADMIN_HTTP_LISTEN_ADDR, ADMIN_HTTP_PORT

# http task log level (debug, info, warn, error, critical)
log_level = "info"

#------------------------------------------------------------------------#
[mqtt]

# MQTT Client config

# The broker host, username, password and client_id
# are configured by environment variables
# MQTT_BROKER, MQTT_USERNAME, MQTT_PASSWORD, MQTT_CLIENT_ID
# respectively

# Keepalive connection (in seconds)
# Not reloadable property
keepalive = 60


# namespace log level (debug, info, warn, error, critical)
# Reloadable property
log_level = "info"

# MQTT PDUs log level. 
# See all PDU exchanges with 'debug' level. Otherwise, leave it to 'info'
# Reloadable property
protocol_log_level = "info"

#------------------------------------------------------------------------#

[tess]

# namespace log level (debug, info, warn, error, critical)
# Reloadable property
log_level = "info"

# Serial to MQTT queue size
qsize = 1000

# Photometers config data
# Non reloadable data
[tess.stars477]
port = "/dev/ttyUSB0"
model = "TESS-W"
mac_address = "AA:BB:CC:DD:EE:FF"
zp1 = 20.5
offset1 = 0 # Frequency offset (dark current frequency)
filter1 = "UV/IR-740"
log_level = "debug"


[tess.stars478]
port = "/dev/ttyUSB1"
model = "TESS4C"
mac_address = "FF:AA:BB:CC:DD:EE"
firmware = "Mar  4 2024"
zp1 = 20.5
offset1 = 0 # Frequency offset (dark current frequency)
filter1 = "UVIR750"
zp2 = 20.5
offset2 = 0 # Frequency offset (dark current frequency)
filter2 = "UVIR650"
zp3 = 20.5
offset3 = 0 # Frequency offset (dark current frequency)
filter3 = "RGB-R"
zp4 = 20.5
offset4 = 0 # Frequency offset (dark current frequency)
filter4 = "RGB-B"
log_level = "debug"
